@import '../../styles/variables.less';

.balance-widget {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__label {
    font-size: @font-size-xs;
    color: @color-gray-500;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  &__amount {
    font-size: @font-size-md;
    font-weight: 700;
    color: @color-primary-dark;
  }
}
